body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./trivial.jpg'); /* Ajusta la ruta según la ubicación de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
}

#quiz {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #218838;
}

.error-message {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #ffffff;
}